# Ignorar o arquivo configs.json
configs.json

*.exe
*.dll
*.so
*.out
*.class
*.pyc
*.o

venv/
env/
node_modules/
lib/
bin/

*.log
*.bak
*.tmp

.env
.env.local
.env.*.local

.vscode/
.idea/
.project
.settings/

__pycache__/
.pytest_cache/
.gradle/

.htaccess
nginx.conf

*.zip
*.tar.gz